
@{
    ViewBag.Title = "ClassInfo";
}

<h2>ClassInfo</h2>
@if (ViewBag.studentlist.Count > 0)
{
    @Html.Raw("<center><table style='width:70%; border: 1px solid black;bgcolor='#ffffff' '> <tr> <th>FullName</th>  <th>dropstudent<th> </tr>");

    foreach (var animal in ViewBag.studentlist)
    {
        @Html.Raw("<tr>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Fullname
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'> dropstudent")
        @Url.Action("dropstudent", "classes", new { Student = @animal.ID, classID = ViewBag.ClassID })
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("</tr>")

    }
    @Html.Raw("</table></center>")
}
else
{
    @Html.Raw("<br/><center> No students Registered</center>")
}
