
@{
    ViewBag.Title = "getAdmin";
}

<h2>Welecome Admin</h2>
<br/>
<br/>
@if (ViewBag.Courses.Count > 0)
{
    @Html.Raw("<center><table  bgcolor='#00FF00' style='width:70%; border: 1px solid black;'> <tr> <th>CourseName</th> <th>Major</th> <th>Credits</th> <th>Course id</th> <th>Time</th> <th>Nop</th><th>More</th></tr>");

    foreach (var animal in ViewBag.Courses)
    {
        @Html.Raw("<tr>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.titleprop
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.majorprop
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.creditprop
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.Courseidprop
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.getDate
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td>")
        @Html.Raw("<font color='red'>")
        @animal.Value.countpeoppro
        @Html.Raw("</font>")
        @Html.Raw("</td>")
        @Html.Raw("<td><a href='")
        @Url.Action("ClassInfo","classes", new { classid = @animal.Value.Courseidprop })
        @Html.Raw("'>")
        @Html.Raw("More info</a></td>")
        @Html.Raw("</tr>")
        
    }
    @Html.Raw("</table></center>")
}
else
{
    @Html.Raw("<br/><center> No classes Registered</center>")
}
